@model MVC_ComicBooksCharacters.Models.ComicBookContext
@{
}
<h2>Home Page!</h2>
<div>
    <p>A list of comics.</p>
    <img src="~/lib/images/180217-Madison-after-black-panther-storm-movie-hero_ltrdeh.webp" />
    <table class=" table table-bordered table-primary table-striped table-hover">
        <thead>
        <td>Comic Title</td>
        <td>Comic ID</td>
        </thead>
        @foreach (MVC_ComicBooksCharacters.Models.ComicBook c in Model.ComicBooks)
        {
            <tr>
                <td>@c.ComicBookTitle</td>
                <td>@c.ComicBookID</td>
            </tr>
        }
    </table>
    <div></div>
    <div class="bg-dark">
        <h3 class="text-light">Extra Ordinary Abilities and Powers</h3>
        <p>They are known for their martial and fighting skills. Being a superman is crazy but being a superhero is realistic. It is not possible to have “superpowers” that are faster than the speed of light or who have heat vision in the real world. This means that you should do with what can be achieved realistically. This includes weapons and peak human fitness.</p>
        <h3 class="text-light">Courageous</h3>
        <p>They have a strong ability to face fears. However, there is a relationship between stupidity and courage. Courage is not lack of fear. In general, it is the willingness to confront fear. Even it takes courage to face injustice, many people fear for their lives.</p>
        <h3 class="text-light">Strong Moral Codes</h3>
        <p>These characters have strong moral codes, and they cannot kill anyone including the ‘evil’ characters. You will find them fighting other characters again and again instead of killing them. This is what they are destined to do.</p>
        <h3 class="text-light">Tolerant to Pain</h3>
        <p>As a superhero, you should be prepared to deal with pain. Remember that you are a single man who is dealing with many criminals. They will be beating you every day. Pain should be part and parcel of your body. In fact, most of these characters seem not be to be feeling pain at all.</p>
        <h3 class="text-light">A Great Sense of Responsibility</h3>
        <p>Great power comes with responsibilities. They are motivated by something extraordinary. It is their key responsibility to ensure that the other characters do not suffer from personal tragedies. You can find some of them reviving other characters who have killed their friends.</p>
        <h3 class="text-light">Fighting Spirit</h3>
        <p>Superheroes can fail just like the other characters. They are required to get up whenever they fail.</p>
        <h3 class="text-light">Mental Stability</h3>
        <p>These heroes are faced with many challenges like losing their loved ones-any people die. They also experience destruction and pain. All these responsibilities are on them. Some of the things they go through weigh heavily on their mind. The intense pressure that is yielded is something that can drive someone insane.</p>
        <h3 class="text-light">Knowledgeable</h3>
        <p>Even if you are the fastest and strongest, you should understand how things work. They are aware of how the earth works its cases, form, and effects. They are smart in what they do. This is the trait that helps them in battling their enemies.</p>
    </div>
</div>

@*<img src="~lib/images/" />*@
@*comic book character list goes here*@